body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  background: url('titanic.jpg');
  background-size: cover;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

h1 {
  color: #C6D6E3;
}

form {
  top: calc(50% - attr(height) / 2);
  left: calc(50% - attr(height) / 2);
  position: relative;
  background-color: rgba(216, 229, 240, 0.537);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 15%;
  left: 30%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
}

.modal>div {
  background: #D8E5F0;
  position: relative;
  margin: auto;
  animation: minimise 100ms linear;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 0 #D8E5F0;
  width: fit-content;
  height: fit-content;
}

p {
  color: #95a5b1;
  font-size: 1.20em;
  text-align: center;
font-weight: bold;
}
a#predire {
  margin: 1em auto;
  display: block;
  width: 200px;
  background-color: #C6D6E3;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 7px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.modal a[href=""] {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
}

.modal a[href=""]:after {
  content: 'X';
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 1em;
  padding: 1px 1px 1px 2px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
  background: #4A4C54;
  color: #C6D6E3;
  border: 3px solid #C6D6E3;
  border-radius: 50%;
  box-shadow: 0 1px 3px #4A4C54;
}

.modal a[href=""]:focus:after, .modal a[href=""]:hover:after {
  transform: scale(1.1, 1.1);
}

.modal a[href=""]:focus:after {
  outline: 1px solid #000;
}

.modal:target {
  opacity: 1;
  pointer-events: inherit;
}

.modal:target>div {
  animation: bounce 100ms;
}

@keyframes bounce {
  0% {
    transform: scale3d(0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.9);
  }
  /* 55% {
    transform: scale3d(0.08, 0.08, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  } */
  /* 75% {
    transform: scale3d(0.95, 0.95, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  } */
  100% {
    transform: scale3d(1, 1, 1);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
  }
}

@keyframes minimise {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0, 0, 0);
  }
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}
